.text_wrapper {
    font-weight: 300;
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.intro_title {
    font-size: 65px;
}

.intro_name {
    font-weight: 800;
}

.intro_subtitle {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 60px;
}

.green {
    color: #0fda93;
}

.intro_small {
    font-size: 21px;
    margin-bottom: 150px;
}

@media (max-width: 1230px) {
    .intro_title {
        font-size: 58px;
    }

    .intro_subtitle {
        font-size: 50px;
    }

    .intro_small {
        font-size: 20px;
    }
}

@media (max-width: 990px) {
    .intro_title {
        font-size: 52px;
    }

    .intro_subtitle {
        font-size: 46px;
    }

    .intro_small {
        font-size: 18px;
    }
}

@media (max-width: 770px) {
    .intro_title {
        font-size: 50px;
    }

    .intro_subtitle {
        font-size: 44px;
    }

    .intro_small {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .intro_title {
        font-size: 40px;
    }

    .intro_subtitle {
        font-size: 22px;
    }

    .intro_small {
        font-size: 14px;
    }
}